! Xft settings -------------------------------------------
Xft.autohint:              0
Xft.dpi:                   96
Xft.antialias:             true
Xft.rgba:                  rgb
Xft.hinting:               true
Xft.hintstyle:             hintslight
Xft.lcdfilter:             lcddefault

! xterm --------------------------------------------------
xterm*scrollBar:           false
xterm*rightScrollBar:      false
xterm*faceName:            Terminus:style=Regular:size=10

! URxvt --------------------------------------------------
URxvt.scrollBar:           false
URxvt.font:                xft:Source Code Pro Light:size=9
URxvt.letterSpace:         -2
URxvt.termName:            rxvt-256color
URxvt.perl-ext-common:     default,matcher,vtwheel
URxvt.urlLauncher:         firefox
URxvt.matcher.button:      1
URxvt.borderColor:         #303030
URxvt.internalBorder:      0
URxvt.externalBorder:      0
URxvt.iso14755:            false
URxvt.jumpScroll:          true
URxvt.saveLines:           10000
URxvt.skipBuiltinGlyphs:   true
URxvt.tripleclickwords:    true
URxvt.borderless:          true
