"*":
  "atom-clock": {}
  "autocomplete-plus":
    minimumWordLength: 2
  "autohide-tree-view":
    maxWidth: 250
    pushEditor: true
    showOn: "click"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "vim-mode"
      "typewriter"
      "exception-reporting"
    ]
    ignoredNames: [
      ".git"
      ".bundle"
      ".gitignore"
      ".gitattributes"
      ".DS_Store"
      ".agignore"
      ".projectile"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Fantasque Sans Mono"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapHangingIndent: 2
    tabType: "soft"
  expose:
    useAnimations: false
  "find-and-replace":
    closeFindPanelAfterSearch: true
    focusEditorAfterSearch: true
    openProjectFindResultsInRightPane: true
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    useAlternateScoring: true
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    highlightBackground: true
    onlyHighlightWholeWords: false
  "letter-spacing":
    "letter-spacing": 1
  linter:
    errorPanelHeight: 73
  "linter-less": {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui": {}
  "open-recent":
    listDirectoriesAddedToProject: true
  "platformio-ide-terminal":
    core:
      autoRunCommand: ""
    style:
      theme: "solarized-dark"
    toggles:
      autoClose: true
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    toggles:
      autoClose: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "tree-view-open-files": {}
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".erb.html.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".html.ruby.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.regexp.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".rails.ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".ruby.source.sql":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
"source.gfm":
  editor:
    softWrap: true
