"*":
  "atom-beautify":
    general:
      _analyticsUserId: "6d82cb68-12a0-41e0-b525-6cd14686876f"
  "atom-clock": {}
  "autocomplete-plus":
    minimumWordLength: 2
  "autohide-tree-view":
    maxWidth: 250
    pushEditor: true
    showOn: "click"
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "typewriter"
      "exception-reporting"
      "minimap-highlight-selected"
    ]
    ignoredNames: [
      ".git"
      ".bundle"
      ".gitignore"
      ".gitattributes"
      ".DS_Store"
      ".agignore"
      ".projectile"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    titleBar: "hidden"
  editor:
    fontFamily: "Fantasque Sans Mono"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapHangingIndent: 2
    tabType: "soft"
  expose:
    useAnimations: false
  "find-and-replace":
    closeFindPanelAfterSearch: true
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    useAlternateScoring: true
  "git-control":
    showGitFlowButton: false
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    highlightBackground: true
    onlyHighlightWholeWords: false
  "letter-spacing":
    "letter-spacing": 1
  linter: {}
  "linter-less": {}
  "linter-slim":
    rails: true
  "linter-ui-default":
    panelHeight: 169
    showPanel: true
    statusBarClickBehavior: "Jump to next issue"
    statusBarPosition: "Right"
    statusBarRepresents: "Entire Project"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui": {}
  "open-recent":
    listDirectoriesAddedToProject: true
  pigments:
    markerType: "native-underline"
  "platformio-ide-terminal":
    core:
      autoRunCommand: ""
    style:
      theme: "solarized-dark"
    toggles:
      autoClose: true
  "project-find-navigation":
    showEndOfLifeWarning: false
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    toggles:
      autoClose: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "tree-view-open-files": {}
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearHighlightSearchOnResetNormalMode: true
    clearMultipleCursorsOnEscapeInsertMode: true
    clearPersistentSelectionOnResetNormalMode: true
    highlightSearch: true
    incrementalSearch: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseNew: true
    neverCloseUnsaved: true
".coffee.source":
  editor:
    autoIndentOnPaste: true
".erb.html.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".html.ruby.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.regexp.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".rails.ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".ruby.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".ruby.source.sql":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
"source.gfm":
  editor:
    softWrap: true
